extends ../layout/layoutPage
block css
	link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css",integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
	link(rel="stylesheet",href="../css/product.css")
block content
	-var n=0;
	-var x=0;
	-var index=0;
	-var a=0;
	div.container
		button(id="demo" onclick="a()") Ajax
		div
			if datas
				while x<row
					-x=x+1;
					div.row
						while n< pageSize && index <datas.length
							-n=n+1;
							div.col
								.card(style='width: 18rem;')
									img.card-img-top(src= datas[index].imagePath alt='...')
									.card-body
										h5.card-title #{datas[index].title}
										p.card-text #{datas[index].shortDes}
										a.btn.btn-primary(onclick='a("'+ datas[index].id +'")') Go somewhere
										-index=index+1;
						-n=0;
		div
		nav(aria-label='Page navigation example')
			ul.pagination.justify-content-center
				while a<totalPage
					-a=a+1;
					li.page-item
						a.page-link( class= a===pageIndex?"active":"", href="./products?page="+a) #{a}
	script.
		function a(x){
		var xhttp = new XMLHttpRequest();
		xhttp.open('GET','../cart/show/'+x,true);
		xhttp.onload=function(){
		 if(this.status==200){
		  document.getElementById("demo").innerHTML="123";
		 }
		}
		xhttp.send();
		}